.instagram-profile {
    max-width: 600px;
    margin: auto;
    padding: 10px 2px 2px;
    font-family: sans-serif;
}
.profile-header {
    display: flex;
    gap: 20px;
    align-items: center;
}
.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: contain ;
    border: 3px solid black;
    margin-right: 5px;
}
.profile-info h2 {
    margin: 0;
}
.title {
    color: #aaa;
    font-size: 13px;
}
.stats {
    display: flex;
    gap: 30px;
    margin: 10px 5px;
}
.stats div {
    text-align: center;
    font-size: 13px;
}
.stats span {
    display: block;
    font-size: 11px;
    color: #aaa;
}
.buttons {
    display: flex;
    gap: 10px;
}
.btn2 {
    padding: 6px 14px;
    border-radius: 8px;
    font-size: 13px;
    text-decoration: none;
}
.primary2 {
    background: #6366f1;
    color: #fff;
}
.secondary2 {
    background: #2a2a30;
    color: #fff;
}
.bio-section {
    margin-bottom: 15px;
    margin-right: 10px;
}
.highlights {
    gap: 5px;
}
.highlights::-webkit-scrollbar {
    display: none;             /* Chrome, Safari, Opera */
}
.highlight-item {
    min-width: 73px;          /* عرض ثابت برای هر هایلایت */
    flex: 0 0 auto;
    text-align: center;
}
.highlight-item img {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px double black;
}
.post-tabs {
    justify-content: center;
    margin-top: 20px;
}
.tabs-wrapper {
    display: flex;
    border-radius: 12px;
}
.tabs-wrapper button {
    flex: 1;
    border: none;
    background: transparent;
    color: #0c26ca;
    transition: .15s ease;
}
.post-tabs button.active {
    border-bottom: 2px solid #6366f1;
}
.post-tabs button i {
    font-size: 20px;
}
.posts {
    display: grid;
    gap: 5px;
    margin-top: 10px;
}
.post {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}
.post img {
    width: 100%;
    height: 250px;
    object-fit: fill;
}
.video-wrapper {
    grid-column: 1 / -1;
    width: 100%;
}
.video-card {
    border-radius: 12px;
    overflow: hidden;
    width: 100%;
}
.video-card video {
    width: 100%;
    height:auto;
    max-height: 80vh;
    object-fit: contain;
    display: block;
    border-radius: 10px;
}
.overlay {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 6px;
    background: linear-gradient(to top, rgba(0,0,0,.7), transparent);
    font-size: 12px;
    color: silver;
}
